train_set.json
test_set.json
captioning_dataset.json
resized*
.idea
__pycache__*
checkpoint1
checkpoint2
*.pickle
vsepp/models/
vsepp/vocab/
vsepp/coco/
vsepp/*.tar
vsepp/LICENSE
vsepp/.gitignore
vsepp/coco.zip
vsepp/README.md
test_images/